@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0c0f;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #111827;
}

.container {
  @apply mx-auto max-w-7xl px-4;
}